body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.nav {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 50px;
  /* text-shadow: 4px 4px 8px black; */
  z-index: 10;
  background-color: transparent;
}

#logo a {
  /* float: left; */
  top: -50px;
  color: white;
  font-size: 50px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.navIcon a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
  transition: all .1s;
  /* border-radius: 35%; */
  padding: 1px;
}

.navIcon a:hover {
  /* background-color: rgb(197, 197, 197); */
  /* border-bottom: 1px solid white; */
  color: white;
  text-shadow: 4px 4px 8px black;
  /* font-size: 33px; */
}

#sell a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  background-color: #ff5201;
  border-radius: 8px;
}

#sell a:hover {
  background-color: rgba(255, 81, 1, 0.671);
}

#bgImg  img{
  width: 100vw;
  height: 100vh;
}

#bgImg img{
  position: fixed;
  overflow: hidden;
}

#search-parent {
  position: absolute;
  /* height: 200px; */
  width: 100vw;
  /* margin-top: -20vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-box {
  background-color: white;
  width: 70vw;
  height: auto;
  position: fixed;
  border-radius: 10px;
  /* box-shadow: 1.5px 1.5px 20px #d1d0d0; */
  z-index: 30;
  transition: all 0.3s;
  top: 70vh;
}

#search-box:hover {
  box-shadow: 1.5px 1.5px 20px #d1d0d0;
}

#filters {
  display: flex;
  margin: 3vw;
  margin-bottom: 0;
  margin-top: 2.5vh;
  /* width: 50%; */
  justify-content: s;
  /* border: 2px solid; */
  height: 30%;
  padding: 5px;
  align-items: center;
  margin-left: 3vw;
  flex-wrap: wrap;
}

.search-filter {
  /* height: 10%;
    width: 40%; */
  margin: 5px;
  background-color: #edf1f0;
  border-radius: 50px;
  width: 180px;
  text-align: center;
  /* fon */
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #64877f;
  flex-shrink: 0;
  transition: all 0.2s;
}

.selected {
  background-color: #52796f;
  color: #eef2f1;
}

#search-bar {
  width: 100%;
  height: 100%;
  padding: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  /* margin: 3vw;
  margin-top: 1vh;
  margin-bottom: 2.5vh; */
  position: relative;
}

#search-bar form{
  width: 94%;
  margin-left: 3%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#search-bar input[type=text] {
  outline: none;
  /* padding: 3px; */
  margin: 10px;
  border: none;
  height: 60px;
  background-color: white;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #73938b;
  transition: width 0.4s ease-in-out;
  flex-shrink: 0;
  padding-left: 10px;
  font-size: 20px;
  color: rgb(78, 78, 78);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#search-bar input[type=text]:focus {
  background-color: white;
}

#search-bar input[type=submit] {
  outline: none;
  border: none;
  height: 60px;
  padding: 2px 10px;
  margin: 10px;
  /* font-weight: 450; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
  color: white;
  font-size: 30px;
  background-color: #ff5201;
  border-radius: 8px;
}

#search-bar input[type=submit]:hover {
  opacity: 0.8;
}

.scale-down {
  transform: scale(0.95);
}

#navBottom {
  height: 80px;
  width: 100%;
  position: fixed;
  /* top: 100vh; */
  bottom: 0;
  border: 1px solid black;
  display: flex;
  /* background-color: antiquewhite; */
  z-index: 100;
}

#navBottomChild {
  border: 1px solid black;
  width: 20vw;
  text-align: center;
}

#navBottomChild i {
  font-size: 25px;
  margin: 5px;
}

#navBottomChild h6 {
  font: 20px;
}

#logo1{
  position: fixed;
  top: 23vh;
  left: 0;
  width: 100vw;
  text-align: center;
  font-family: festive;
  color: white;
  font-size: 12vw;
  text-shadow: 2px 2px 8px white;
  /* transition: 0.3s; */
}

@keyframes fadeIn{
  from{
    opacity: 10%;
    /* font-size: 40px; */
  }
  to{
    opacity: 100%;
    /* font-size: 100px; */
  }
}

@keyframes bounce{
  from{
    /* opacity: 0%; */
    /* font-size: 40px; */
    transform: scale(1);
  }
  to{
    /* opacity: 100%; */
    /* font-size: 100px; */
    transform: scale(1.35);
  }
}

.opacity-zero{
  opacity: 0;
}

.display-none{
  height: 0;
  width: 0;
  z-index: -100;
  display: none !important;
}

#splash-load{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 100;
  transition: all 1s ease-in-out;
}

#splash-load #logo1{
  /* animation: bounce 0.75s infinite alternate; */
  animation: fadeIn 1s ease-in-out infinite alternate;
}