<p>
    Hii <%=user.name%>!
    <br>
    Here's you're OTP to authenticate you're account:
     <strong>"<%=user.resetPassword.accessToken%>"</strong>
     This OTP is valid for 10 minutes only.
     If you did not try to reset your password, please ignore this email.
     <br>
     (Please check your spam folder)
    <br>
    Thank You!
    Have a nice day :)
</p>